*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    color: #B1B7EA;
    font-size: 14px;
}

.flex2{
    display: flex;
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
}

body{
    height: 100vh;
    overflow: auto;
    background-color: #F8F9FA;
    font-family: 'Poppins', sans-serif;
    padding-top: 120px;
}

.nav{
    height: 120px;
    /* background-color: #2a3042; */
    background-color: #36394c;
    padding: 15px 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.veltrix{
    color: white;
    font-size: 20px;
}

.navline1{
    display: flex;
    justify-content: space-between;
    /* background-color: #36394C; */
    align-items: center;
    color: white;
    width: 100%;
    gap: 30px;
}

.right_align{
    display: flex;
    align-items: center;
    gap: 30px;
}

.search{
    background-color: #353e53;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 180px;
    color: white;
}

.search-container{
    background-color: #353e53;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-icon{
    color: #9f9faa;
}

#lang{
    background-color: #36394c;
    color: #9f9faa;
    outline: none;
    border: none;
}

.navline2{
    width: 100%;
    padding: 20px 0;
    display: flex;
    gap: 40px;
    margin-top: 10px;
    /* background-color: #2A3142; */
}

.navline2 a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    transition: color 0.3s;
}

.afternav{
    display: flex;
    justify-content: space-between;
    margin: 20px 110px;
}

.left{
    color: #36394c;
    font-size: 13px;

}

.afternav button{
    width: 100px;
    height: 35px;
    border-radius: 3.5px;
    border: none;
    background-color: #626ED4;
    color: white;
}

.sec2{
    display: flex;
    justify-content: space-between;
    /* align-content: flex-start; */
    gap: 5px;
    margin: 0 110px;
}

.b_block{
    height: 180px;
    width: 240px;
    background-color: #626ED4;
    border-radius: 4px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    padding: 20px;
}

.b_block_in{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.icon{
    background-color: #7984DA;
    height: 52px;
    width: 48px;
    border-radius: 3px;
    padding: 9px;
}

.icon img{
    height: auto;
    width: 35px;
}

/* .revenue .icon{
    background-color: #7984DA;
    height: 52px;
    width: 48px;
    border-radius: 3px;
} */

.b_block h3{
    color: #B1ABE1;
    font-size: 16px;
}

.b_block p{
    color: white;
    font-size: 23px;
}

.fa-arrow-up{
    color: #02A4A8 !important;
}

.fa-arrow-down{
    color: #EC4561 !important;
}

.sec3{
    margin: 20px 110px;
    /* background-color: #FFFFFF; */
    /* display: grid;
    grid-template-columns: 3fr 1.5fr; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.sec3_g1{
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 38px;
    color: #5B626B;
    padding: 20px;
    width: 778px;
    margin-bottom: 30px;
}

.month_sec h2{
    padding-bottom: 7px;
}

.month_sec p{
    font-size: 13px;
    line-height: 1.8;
}

.graph img{
    width: 390px;
    height: auto;
}

.month_sec{
    padding-top: 35px;
    width: 135px;
    text-align: center;
    /* font-size: 15px; */
}

.sal_an{
    height: 700px;
    width: 240px;
    height: auto;
    padding: 20px;
    background-color: #FFFFFF !important;
    color: #5B626B !important;
}

.sal_an p{
    font-size: 13px;
}

.sal_an img{
    width: 110px;
    height: 80px;
}

.top{
    padding-top: 14px;
    border-bottom: solid 1px #E9ECEF;
}